<link rel="stylesheet" href="css/candy.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<script type="text/javascript" src="js/candy.js"></script>

<div class="game">
    <!-- LEFT -->

    <div class="left">
        <a href="/">Voltar</a>
        <!-- pre-game -->
        <div class="instructions">
            <p>
                No jogo A Saga do Doces, sua missão é esmagar o máximo de doces possível movendo um doce e
                alinhando-o
                com uma linha ou coluna de três outros doces da mesma cor.</p>
        </div>
        <!-- in-game -->
        <div class="game-info">
            <p id="high-score"></p>
            <h2 id="score"></h2>
            <h2 id="moves"></h2>
            <h2 id="timer"></h2>
        </div>
    </div>

    <!-- RIGHT -->
    <div>
        <!-- pre-game -->
        <div class="mode-choice">
            <h2>Para iniciar um novo jogo,</h2>
            <h2>escolha um modo:</h2>
            <button id="pressure">Livre</button>
            <button id="strategy">Estrategia</button>
        </div>
        <!-- in-game -->
        <div id="grid"></div>
    </div>
</div>