.teclas {
  margin: 0 5px 5px 0;
  width: 48px;
  height: 48px;
  line-height: 40px;
  text-align: center;
  background: rgba(0,191,255,0.7);
  border-radius: 8px;
  border: 1px solid #c3f0fc;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.container_letras {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  columns: 100px;
}
.teclas {
  cursor: pointer;
}

.container {
  height: 20%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: space-evenly;
}

.letras_div_title {
  font-size: 22px;
  color: white;
}

.informacacoes {
  width: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  color: white;
}

.tentativas {
  color: white;
}

#letrasUtilizadas {
  display: flex;
}

#sublinhado {
  font-size: 44px;
  color: white;
}

.teclado_div {
  width: 95%;
  height: 15%;
}

.background {
  height: 100%;
  background-color: rgb(58, 62, 65);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../assets/nunu.jpg');
  
}
body, html, .app {
  height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
  height: calc(100vh - calc(100vh - 100%))
}

a {
  font-size: 24px;
  color: white;
  text-decoration: none; /* no underline */
}